{include file="public:header"/}
    {include file="public:nav"/}
<div class="jumbotron">
    <h1>欢迎来到瞎逼逼网！</h1>
    <p>在这里！你可以！说出自己曾经或者现在想说但是没有说出口的话！</p>
    <p>也可以！随意瞎逼逼！反正也不会有人知道你是谁！嘿嘿</p>
    <p><a class="btn btn-primary btn-lg" href="{:url('index/insert')}" role="button">我要逼逼</a></p>
</div>
    <div class="row">
        <div class="col-md-8">
            {voList name="artList" id="art" empty="$empty"}
            <div class="thumbnail">
                <div class="caption">
                    <h3>{$art.title}</h3>
                    <p>
                        发布者：{$art.user_id|getUserName} &nbsp;&nbsp;&nbsp;
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true">阅读量：{$art.pv}</span>
                        <span class="glyphicon glyphicon-time" aria-hidden="true">{$art.create_time|date='Y-m-d H:i'}</span>
                    </p>
                    <p>逼逼简介:{$art.content|getArtContent}</p>
                    <p><a href="{:url('detail',['id'=>$art.id])}" class="btn btn-primary" role="button">看他怎么逼逼</a></p>
                </div>
            </div>
            {/voList}
            <div class="text-center">{$artList|raw}</div>

        </div>
        {include file="public:right"/}
    </div>
{include file="public:footer"/}