{include file="public:header"/}
    {include file="public:nav"/}
    <div class="row">
        <div class="col-md-8">
            <div class="page-header">
                <h2>{$cateName}</h2>
            </div>
            {voList name="artList" id="art" empty="$empty"}
            <div class="thumbnail">
                <img src="/uploads/{$art.title_img}" style="margin-right: 20px;margin-left: 15px; margin-top: 10px; float: left;width: 210px;height: 150px"/>
                <div class="caption">
                    <h3>{$art.title}</h3>
                    <p>
                        发布者：{$art.user_id|getUserName} &nbsp;&nbsp;&nbsp;
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true">阅读量：{$art.pv}</span>
                        <span class="glyphicon glyphicon-time" aria-hidden="true">{$art.create_time|date='Y-m-d H:i'}</span>
                    </p>
                    <p>逼逼简介:{$art.content|getArtContent}</p>
                    <p><a href="{:url('detail',['id'=>$art.id])}" class="btn btn-primary" role="button">看他怎么逼逼</a></p>
                    <hr>
                </div>
            </div>
            {/voList}
            <div class="text-center">{$artList|raw}</div>

        </div>
        {include file="public:right"/}
    </div>
{include file="public:footer"/}